aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
allure-python-commons
attrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
configobj==5.0.8
crcmod==1.7
cryptography==39.0.2
curlify==2.2.1
exceptiongroup==1.1.1
Faker==17.6.0
idna==3.4
iniconfig==2.0.0
jmespath==0.10.0
jsonpath==0.82
oss2==2.17.0
packaging==23.0
pluggy==1.0.0
pycparser==2.21
pycryptodome==3.17
pyotp==2.8.0
pytest==7.2.2
pytest-assume==2.4.3
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.16.0
tomli==2.0.1
urllib3==1.26.15
ruamel.yaml
pytest-html
pytest-rerunfailures
Allure-pytest
loguru~=0.7.0
requests_toolbelt
pytest-dependency